.App {
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
    background-size: cover;
    height: 100vh;
    width: auto;
    text-align: center;
}

.log {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-content: stretch;
    height: 40px;
    width: 100%;
}

.count{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-content: stretch;
    height: 40px;
    width: 50%;
    padding-left: 25%;
}

button{
    flex-grow: 1;
    border: 2px solid rgb(107, 107, 107);
    font-size: 200%;
    cursor: pointer;
    background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
    border-radius: 20px;    
}

.container{
    width:250px;
    height:250px;
    margin:20px auto 0 auto;
    background:#222;

    display:flex;
    align-items: center;
    justify-content: center;
  }

  .react-logo{
    display: inline-block;
    border-radius:50%;
    border:10px solid #00d8ff;

    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

  }

  .react-logo , .react-logo:before , .react-logo:after{
    position:absolute;
    display: inline-block;
    width:200px;
    height:70px;
    border-radius:50%;
    border:10px solid #00d8ff;
  }

  .nucleo , .react-logo , .react-logo:before , .react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nucleo{
    width:40px;
    height:40px;
    border-radius:100%;
    background:#00d8ff;
  }

  .react-logo:before , .react-logo:after{
    content:"";
  }

  .react-logo:after{
    transform:rotate(-57deg);
  }

  .react-logo:before{
    transform:rotate(57deg);
  }

  @keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }
